<h2><%= "Question Set: " + @wrong_answer.question.question_set.name %></h2>
<h4>
    Case String: <%= @wrong_answer.question.case_string %>
</h4>
<h4>
    Question: <%= simple_format(@wrong_answer.question.text) %>
</h4>
<h4>
    Wrong Answer: <%= @wrong_answer.text %>
</h4>
<h4>
    <%= "Status: " + @tag2wronganswer.hint_status + "."%>
    <% if @tag2wronganswer.hint_status == "assigned" %>
      <%= "Message: " + @final_message %>
    <% end %>
</h4>
<h4>
    Tag: <%= @tag2wronganswer.tag.name %>
</h4>

Sort by <%= link_to "Upvotes", tag2wronganswer_path(@tag2wronganswer.id, :sort => "upvotes")%> 
<%= link_to "Downvotes", tag2wronganswer_path(@tag2wronganswer.id, :sort => "downvotes")%>

<div class="row">
  <div class="col-md-8" id="drafts">
    <% @hints.each do |hint| %>
      <br>
      <% if hint.finalizable %>
        <div class="row" id="finalize-<%= hint.id %>">
          <%= link_to "Finalize hint", finalize_hint_path(:tag2wronganswer_id => @tag2wronganswer.id, :id => hint.id), :id => "finalize-#{hint.id}", :method => :post %>
        </div>
      <% end %>
      <% if hint.finalized %>
        <div class="row" id="assigned-hint-<%= hint.id %>">
          Assigned hint
        </div>
      <% end %>
      <div class="row" id="hint-row-<%= hint.id %>">
        <div class="col-md-3" id="votes">
          <div class="row" id="upvotes">
            <div class="col-sm-6" id="upvote-btn-<%= hint.id %>">
              <%= link_to "Upvote", upvote_hint_path(:tag2wronganswer_id => @tag2wronganswer.id, :id => hint.id), :id => "upvote-#{hint.id}", :method => :post, :remote => true %>
            </div>
            <div class="col-sm-6" id="num-upvotes-<%= hint.id %>">
              <%= hint.upvotes %>
            </div>
          </div>
          <div class="row" id="downvotes">
            <div class="col-sm-6" id="downvote-btn-<%= hint.id %>">
              <%= link_to "Downvote", downvote_hint_path(:tag2wronganswer_id => @tag2wronganswer.id, :id => hint.id), id: "downvote-#{hint.id}", :method => :post, :remote => true %>
            </div>
            <div class="col-sm-6" id="num-downvotes-<%= hint.id %>">
              <%= hint.downvotes %>
            </div>
          </div>
        </div>
        <div class="col-md-7" id="hint">
          <%= hint.content %>
        </div>
        <% if not hint.finalized %>
          <div class="col-md-2" id="delete-hint">
            <%= link_to "Delete", tag2wronganswer_hint_path(:tag2wronganswer_id => @tag2wronganswer.id, :id => hint.id), id: "delete-#{hint.id}", :method => :delete, data: { confirm: "Are you sure?" } %>
          </div>
        <% else %>
          <div class="col-md-2" id="unfinalize-hint">
            <%= link_to "Unfinalize", unfinalize_hint_path(:tag2wronganswer_id => @tag2wronganswer.id, :id => hint.id), :id => "unfinalize-#{hint.id}", :method => :post %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4" id="compose">
    <div class='Post hint'>
      <%=form_tag(tag2wronganswer_hints_path(:tag2wronganswer_id => @tag2wronganswer.id), :method => :post) do %>
        <%= text_area_tag("add_hint", nil, :placeholder => "New hint", :required => true, :id => "compose-hint-input", :cols => "10") %>
        <br/>
        
        <%= submit_tag("Post hint") %>
      <% end %>
      <% if not @tag2wronganswer.tag.related_hints(@tag2wronganswer).empty? %>
        <%=form_tag(tag2wronganswer_hints_path(:tag2wronganswer_id => @tag2wronganswer.id), :method => :post) do %>  
          <%= select_tag("add_hint", options_for_select(@tag2wronganswer.tag.related_hints(@tag2wronganswer)),  {:include_blank => true}) %>
          
          <%= submit_tag("Use old hint") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {

    $('#add_hint').on('change', function () {
        var myValue = $(this).val();
        $("#compose-hint-input").val(myValue);
    });
  });
</script>
