<h1>All Users</h1>
<table id="Users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name  %>
        </td>
        <td>
          <%= user.email %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%if current_user.admin? %>
  <div class="form-group">
    <%=form_tag(display_users_path, :method => :post) do %> 
      <%= label_tag("User Email") %>
      <%= email_field_tag("add_email") %>
      <%= submit_tag("Add") %>
    <% end %>
  </div>
  <div class="form-group">
    <%=form_tag(display_users_path, :method => :put) do %>
      <%= label_tag("User Email") %>
      <%= email_field_tag("delete_email") %>
      <%= submit_tag("Delete") %>
    <% end %>
  </div>
<% end %>
