<h1>All Users</h1>
<table id="Users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name  %>
        </td>
        <td>
          <%= user.email %>
        </td>
      </tr>
    <% end %>
    <%if current_user.admin? %>
      <div class='Add User'>
        <%=form_tag(display_users_path, :method => :post) do %>
          <%= email_field_tag("add_email") %>
          <%= label_tag("User Email") %>
          <%= submit_tag("Add") %>
        <% end %>
      </div>
      <div class='Delete User'>
        <%=form_tag(display_users_path, :method => :put) do %>
          <%= email_field_tag("delete_email") %>
          <%= label_tag("User Email") %>
          <%= submit_tag("Delete") %>
        <% end %>
      </div>
    <% end %>

  </tbody>
</table>