<h1>
    Concepts
</h1>
<% if current_user.admin %>
  <%= form_tag(edit_threshold_path, :method => :post) do %>
    <%= "Current threshold: " + @threshold.to_s%>
    <br/>
    <%= text_field_tag("threshold", nil, :placeholder => "Edit threshold", :required => true)%>
    <%= submit_tag("Change") %>
  <% end %>
<% end %>  
<table id="Concepts">
  <thead>
    <tr>
      <th>Concept</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @concepts.each do |concept| %>
      <tr>
        <td><%= link_to concept.name, concept_path(concept.id) %></td>
        <td><%= concept.msg_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>