<h1>
  <%= @concept.name %>
</h1>
<h2>
  <%= @concept.description %>
</h2>
<!--display tags when implemented-->
<ul>
  <% @messages.each do |message| %>
    <li>
      <div class="row">
        <div class="col-md-2" id="votes">
          <div class="row" id="upvotes">
            <div class="col-sm-6" id="upvote-btn-<%= message.id %>">
              <%= link_to "Upvote-#{message.id}", upvote_path(:concept_id => @concept.id, :id => message.id), :id => "upvote-#{message.id} btn btn-default", :method => :post %>
            </div>
            <div class="col-sm-6" id="num-upvotes-<%= message.id %>">
              <%= message.upvotes %>
            </div>
          </div>
          <div class="row" id="downvotes">
            <div class="col-sm-6" id="downvote-btn-<%= message.id %>">
              <%= link_to "Downvote-#{message.id}", downvote_path(:concept_id => @concept.id, :id => message.id), id: "downvote-#{message.id} btn btn-default", :method => :post %>
            </div>
            <div class="col-sm-6" id="num-downvotes-<%= message.id %>">
              <%= message.downvotes %>
            </div>
          </div>
        </div>
        <div class="col-md-8" id="message">
          <%= message.content %>
        </div>
        <div class="col-md-2" id="delete-message">
          <%= link_to "Delete-#{message.id}", concept_message_path(:concept_id => @concept.id, :id => message.id), :method => :delete %>
          <!--, :confirm => "Are you sure?" -->
        </div>
      </div>
    </li>
  <% end %>
</ul>
<div class='Post Message'>
  <%=form_tag(concept_messages_path(:concept_id => @concept.id), :method => :post) do %>
    <%= text_field_tag("add_message", :required => true, :size => 40) %>
    <%= label_tag("New Message") %>
    <!--size: 40-->
    <!--Need to increase size of form field-->
    <%= submit_tag("Post Message") %>
  <% end %>
</div>